@font-face {
	font-family: 'TRY Clother';
	src: url('../../fonts/try_clother.eot'); /* IE 9 Compatibility Mode */
	src: url('../../fonts/try_clother.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
		url('../../fonts/try_clother.woff2') format('woff2'), /* Super Modern Browsers */
		url('../../fonts/try_clother.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
		url('../../fonts/try_clother.ttf') format('truetype'), /* Safari, Android, iOS */
		url('../../fonts/try_clother.svg#try_clother') format('svg'); /* Chrome < 4, Legacy iOS */
}

$blue: #245f77;

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #fff;
  font-family: 'TRY Clother';
  font-size: 20px;
}

.header, .footer {
  display: flex;
  .logo {
    width: 40px;
    height: 40px;
  }
  ul {
    list-style: none;
    li {
      display: inline-block;
      margin-left: 20px;
    }
  }
}

.footer {
  
}

.container {
  position: relative;
  width: 80%;
  margin: 20px auto;
  padding: 30px 100px;
  border-radius: 30px;
  background-color: #f7f5f6;
  box-shadow: 0 0 15px 15px #d8d5d5;
  overflow: hidden;
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  width: 100%;
}

.title {
  font-size: 50px;
  margin-bottom: 60px;
  color: $blue;
}

svg {
  position: absolute;
  left: 0;
  opacity: 10%;
}

a.button10 {
  display: inline-block;
  color: #fff;
  font-size: 20px;
  font-weight: 700;
  text-decoration: none;
  user-select: none;
  padding: 10px 40px;
  outline: none;
  border-radius: 7px;
  background: #ffba78 linear-gradient(149deg, #ffba78, #ff816e);
  box-shadow: inset 0 -2px 1px rgba(0,0,0,0), inset 0 1px 2px rgba(0,0,0,0), inset 0 0 0 60px rgba(255,255,0,0);
  transition: all .2s, border-color .2s;
} 

.intro {
  display: flex;
  position: static;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  .title {
    width: 500px;
    margin-top: 100px;
  }
  .subtitle {
    margin-top: 40px;
    color: gray;
    font-size: 20px;
  }

  .action-btns {
    display: flex;
    margin-top: 40px;
    width: 20%;
    justify-content: space-between;
    a {
      text-decoration: none;
    }
  }
  .intro-img {
    position: absolute;
    right: -100px;
    top: -100px;
    width: 60%;
  }
  a.button10:hover {
    box-shadow: inset 0 -1px 1px rgba(0,0,0,0), inset 0 1px 2px rgba(0,0,0,0), inset 0 0 0 60px rgba(255,255,0,.5);
  }
  a.button10:active {
    transform: scale(0.95);
  }
}

.about {
  margin-top: 100px;
  margin-bottom: 100px;
  .personal {
    display: flex;
    justify-content: space-around;
    align-items: center;
    p {
      width: 50%;
    }
    .personal-photo {
      width: 30%;
    }
  }
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 200px;
  width: 200px;
  color: #fff;
  border-radius: 20px;
  background: #ffba78 linear-gradient(149deg, #ffba78, #ff816e);
  img {
    width: 100px;
  }
  .card-title {
    font-weight: bold;
  }
  .card-info {
    font-size: 20px;
    font-weight: normal;
  }
  &.white {
    background: none;
    color: $blue;
    background-color: #fff;
    .card-info {
      color: gray;
    }
  }
  &.transp { 
    color: $blue;
    background: none;
    .card-info {
      color: gray;
    }
  }
}

.education {
  width: 80%;
  margin: 0 auto;
  border-radius: 40px;
  padding: 30px;
  box-shadow: 0 0 15px 15px #d8d5d5;
  background-color: #fff;
  .title {
    font-size: 40px;
    margin-bottom: 30px;
  }
  .edu-info {
  }
  .edu {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: 40px auto 0;
  }
}

.products {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 100px;
  .title {
    font-weight: bold;
  }
  .subtitle {
    max-width: 500px;
  }
  .reasons {
    display: flex;
    width: 600px;
    flex-wrap: wrap;
  }
  .card {
    padding: 40px 20px;
    margin: 20px 20px;
  }
}

.lesson-structure {
  margin-top: 100px;
  .steps {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 80%;
    .card {
      display: flex;
      min-width: 25%;
      margin: 30px;
      align-items: flex-start;
    }
  }
}

.feedback {
  width: 60%;
  margin: 0 auto;
  margin-top: 100px;
  margin-bottom: 100px;
  padding: 40px;
  background-color: #fff;
  border-radius: 40px;
  box-shadow: 0 0 15px 15px #d8d5d5;
  background: url(../../images/form-bg.png);
  color: #fff;
  transition: all .2s linear;
  .title {
    margin-bottom: 0;
  }
  .alertion {
    text-align: center;
    color: #fff;
    font-weight: bold;
    margin-top: 30px;
  }
  .form {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    margin-bottom: 40px;
    input {
      border: solid 2px transparent;
      background-color: #fff;
      border-bottom: 1px solid white;
      border-radius: 15px;
      box-sizing: border-box;
      color: $blue;
      display: block;
      font-size: 20px;
      margin-bottom: 10px;
      outline: none !important;
      padding: 10px 20px;
      width: 100%;
    }
  }
  .button10 {
    background: $blue;
    border: none;
    &:hover {
      background: darken($blue, 10%);
    }
    &:active {
      transform: scale(0.95);
    }
  }
}